html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.opciones{
    position: inherit;
}

section{
    font-family: 'Open Sans';
    background: url('../src/images/afternoon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

section h1{
    margin: 0;
    color: #F2F2F2;
}
#formulario{
    width: 50%;
    max-width: 600px;
    min-width: 280px;
    margin: auto;
    padding: 20px 10px;
    border: 2px solid #000;
    border-radius: 0.38cm;
    background-color: #f2f2f2e3;
}

#formulario .campo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px;
    padding: 10px;
    position: relative;
}

#formulario .campo.checkbox{
    display: block;
    padding: 20px;
}

.campo.checkbox label{
    padding: 0;
}

.campo .text{
    width: 50%;
    min-width: 100px;
    max-width: 500px;
}

.campo label{
    width: 40%;
    padding-left: 30px;
}


#submit{
    width: 85%;
    height: 30px;
    display: block;
    background-color: #9ed2de;
    border: 1.5px solid #000;
    margin: auto;
    font-weight: bold;
    font-size: 1.12rem;
    cursor: pointer;
}

#submit:hover{
    background-color: #135e6e;
    color: #F2F2F2;
}

.error{
    color: red;
    position: absolute;
    font-size: 14px;
    bottom: -5px;
    right: 0;
}

@media (max-width: 500px){
    section{
        background-image: url('../src/images/bicicleta_primera_persona.jpg');
    }
}